<h1>
  <%= @thred.name %>
</h1>

<section>
  <h2>Posts</h2>

  <ul>
    <% @thred.posts.each do |post| %>
      <li>
        <%= post.title %> - <%= link_to post.url %>
      </li>
    <% end %>
  </ul>

</section>


<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_thred_path(@thred) %> |
<%= link_to 'Back', threds_path %>
